*{
	border: 0;
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'blade_runner_movie_fontRg';
    src: url('../fonts/bladrmf_-webfont.woff2') format('woff2'),
         url('../fonts/bladrmf_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1#ejemplo-fuentes{
	color: #CC0000;	
	font-family: "blade_runner_movie_fontRg",Helvetica,Verdana;
	
}

section#principal,aside{
	background: #212121;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0.25em;
	vertical-align: top;
	width: 65%;
}
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}

h1#f1{color: #00ff00}
h2#f2 {color: #dda0dd}
p#f3 {color: rgb(0,0,255)}


#inicio{position: absolute; visibility:visible; left:400px; top:250px; z-index:3;
background-color:#165480; border-width:4; color:#5FA6D7; border-style:ridge; border-color:#c0c0c0;
padding:10px}